<% for(let i = 0; i < categories.length; i++) { %>
    <div class="transition delay-150 duration-700 ease-in-out hover:-translate-y-2 p-8 px-4 flex flex-col items-center justify-center gap-8 bg-red-50 rounded-lg shadow-lg h-[450px] w-[300px]">
        <img class="rounded-lg" src="<%= categories[i].image %>" alt="<%= categories[i].slug %>" srcset="">
        <div class="flex flex-col gap-4">
            <h1 class="font-bold text-2xl"> <%= categories[i].category %> </h1>
            <p class="text-sm text-justify">
                <%= categories[i].description %>
            </p>
        </div>
        <button onclick="location.href = '/api/v1/<%= categories[i].slug %>'" class="uppercase bg-yellow-500 shadow hover:bg-yellow-600 hover:shadow-lg active:bg-yellow-600 text-white py-2 px-4 rounded w-full font-bold">
            let's play
        </button>
    </div>
<% } %>