<% for(let i = 0; i < questions.length; i++) { %>
    <div class="flex flex-col justify-center gap-8 py-6 md:w-[85vw] w-full mx-auto rounded-lg bg-gradient-to-b from-red-200 to-red-100 shadow-lg">

        <p id="qarea" class="mx-4 font-bold uppercase text-center md:text-2xl text-xl text-blue-900 flex items-center justify-center">
            <svg class="hidden md:block w-6 h-6 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            <%= questions[i].question %>
        </p>

        <div class="flex flex-col items-center mx-4 gap-6 font-extrabold">
            
            <!-- Hidden input to ensure unanswered questions get sent -->
            <input type="radio" name="answered[<%= i %>]" value="Unanswered" class="hidden" checked>
            <% Object.keys(questions[i].options).forEach((key, index) => { %>
    
                <div class="bg-red-50 md:hover:bg-green-200 md:w-[40%] w-full h-14 rounded-lg flex items-center px-6">
                    <p class="py-2 px-4 bg-red-100 rounded-full">
                        <%= String.fromCharCode(65 + index) %>
                    </p>
                    <input 
                        type="radio" 
                        id="question<%= i %>-option<%= key %>" 
                        name="answered[<%= i %>]" 
                        value="<%= questions[i].options[key] %>" 
                        class="hidden"
                    >
                    <label for="question<%= i %>-option<%= key %>" class="options px-6 cursor-pointer">
                        <%= questions[i].options[key] %>
                    </label>
                </div>
    
            <% }) %>
        </div>
    </div>
<% } %>