<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
</head>
<body class="bg-red-100 select-none">
    <%- include ('./partials/header.ejs') %>

    <form method="POST" action="/">

        <!-- The Progress Bar -->
        <div class="flex justify-center items-center md:hidden">
            <div class="bg-gray-300 w-4/5 rounded-xl overflow-hidden">
                <div class="bar bg-green-500 h-4 transition-all ease-in-out"></div>
            </div>
            <p class="qLabel ml-2 font-semibold text-lg">1/5</p>
        </div>
        
        <div class="flex flex-col justify-center" style="padding: 2rem; gap: 2rem 0;">
            
            <% for(let i = 0; i < questions.length; i++) { %>
                <section class="mt-6 space-y-5">
        
                    <div id="qarea" class="mx-4 font-bold uppercase text-center md:text-2xl text-xl text-blue-900 flex items-center justify-center">
                        <%= questions[i].question %>
                    </div>
                </section>
        
                <section class="mt-5 flex flex-col items-center mx-4 space-y-6 font-extrabold">

                    <!-- Hidden input to ensure unanswered questions get sent -->
                    <input type="radio" name="answered[<%= i %>]" value="Unanswered" class="hidden" checked>
        
                    <% Object.keys(questions[i].options).forEach((key, index) => { %>

                        <div class="bg-red-50 md:hover:bg-green-200 md:w-[40%] w-full h-14 rounded-lg flex items-center px-6">
                            <p class="py-2 px-4 bg-red-100 rounded-full">
                                <%= String.fromCharCode(65 + index) %>
                            </p>
                            <input 
                                type="radio" 
                                id="question<%= i %>-option<%= key %>" 
                                name="answered[<%= i %>]" 
                                value="<%= questions[i].options[key] %>" 
                                class="hidden"
                            >
                            <label for="question<%= i %>-option<%= key %>" class="options px-6 cursor-pointer">
                                <%= questions[i].options[key] %>
                            </label>
                        </div>

                    <% }) %>
                </section>
            <% } %>
        </div>

        <%- include ('./partials/footer.ejs') %>
    </form>
</body>
<script>
        
    let options = document.querySelectorAll(".options")
    let radios = document.querySelectorAll('input[type="radio"]')

    function colourOpt(option) {
        if (option.previousElementSibling.checked == true) {
            option.parentElement.style.backgroundColor = 'rgb(34 197 94)'
            option.style.color = 'white'
            option.previousElementSibling.previousElementSibling.style.backgroundColor = 'rgb(254, 242, 242)'
        }
        else {
            option.parentElement.style.backgroundColor = ''; // Reset the background color if the radio button is not checked
            option.style.color = ''
            option.previousElementSibling.previousElementSibling.style.backgroundColor = ''
        }

    }

    radios.forEach(radio => {
        radio.addEventListener('click', function () {
            options.forEach(option => colourOpt(option))
        })
    })

</script>
</html>